* {
margin: 0;
padding: 0;
box-sizing: border-box;
}




.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px gray;
}

.item{
    max-width: 700px;
    max-height: 300px;
    width: calc(50% - 10px);
    height: calc(95vw / 2 / 6 * 9);
    margin: 5px;
    text-align: center;
}
.item img{
    max-height: 250px;
    width: 100%;

}
.item h1{


}
